@model System.Data.DataTable
@{
    ViewBag.Title = "Exceptin Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>

<div class="row">

    @foreach (System.Data.DataRow p in Model.Rows)
    {
        <h3>@p[0]:@p[1]</h3>
    }
</div>